/* frontend\code-battle\src\styles\menuButtons.css */
.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 10rem;
  height: 2.5rem;
  /* Color */
  color: var(--theme-lighter-color);
  background-color: #1d1d1d;
  /* Border */
  border: solid var(--theme-color);
  border-radius: .5em;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.menu-button:hover {
  transform: scale(1.05) translateX(5px);
  background-color: #2b3828;
}

.menu-button:active {
  background-color: #bbb;
}